.Rproj.user
.Rhistory
.Ruserdata
*.pptx
*.Rmd
export_to_R.R
Mvmt.png
CTMM.png
Occurrence.png
*.Rproj
*.zip
Week5_Assignment_AnswerKey.docx
Week5_Assignment_AnswerKey.html
2b_DataVisualization.html
ndvi.rda